.Weather {
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 155);
    padding: 16px 22px;
    border-radius: 4px;
}
.Weather input[type=search] {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgb(155, 155, 155);
}
.Weather input[type=search]:focus {
    border: 1px solid rgb(155, 155, 155);
    outline: none;
}
.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 20px 0 0 0;
}
.Weather ul {
    margin: 0;
    padding:0;
}
.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather img {
    position: relative;
    top: -18px;
}
.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
}
.Weather .unit {
    position: relative;
    top: -35px;
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 400;
}